<html>
<head>
<style>
body {
  display: inline-block;
  background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
}

h1 {
  margin: .8em 3rem;
  font: 4em Roboto;
}
p {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;
}
</style>
</head>
<body>
<h1>Hi You need to get Art Brush Artist community Membership to access to Art brush Live Feature</h1>
<p>To get access mail us at artbrushcommunity@artbrush.store, its free!!!</p>
<a href="http://artbrush.store">Get back to Store</a>
</body>
</html>
